{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <!-- MainContent -->
    <section class="sign-in-page">
        <div class="container">
            <div class="row justify-content-center align-items-center height-self-center">
                <div class="col-lg-5 col-md-12 align-self-center">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div class="sign-in-from w-100 m-auto">
                                <h3 class="mb-3 text-center">بازنشانی رمز عبور</h3>
                                <form class="mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>کلمه عبور</label>
                                            <input name="password" type="password" class="form-control mb-0"
                                                   id="exampleInputPassword2" placeholder="کلمه عبور" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>رمز عبور را تکرار کنید</label>
                                            <input name="confirm_password" type="password" class="form-control mb-0"
                                                   id="exampleInputPassword2" placeholder="کلمه عبور" required>
                                        </div>
                                    </div>
                                    <div class="sign-info">
                                        <button type="submit" class="btn btn-hover">بازنشانی</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign in END -->
            <!-- color-customizer -->
        </div>
    </section>
{% endblock %}