{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

    <!-- Slider Start -->
    <section id="home" class="iq-main-slider p-0 iq-rtl-direction">
        <div id="home-slider" class="slider m-0 p-0">
            {% for banner in banners %}
                {% if banner.movie != None %}
                    <div class="slide slick-bg s-bg-{{ forloop.counter }}"  style="background-image: url({{ banner.movie.image.url }})">
                        <div class="container-fluid position-relative h-100">
                            <div class="slider-inner h-100">
                                <div class="row align-items-center  iq-ltr-direction h-100 ">
                                    <div class="col-xl-6 col-lg-12 col-md-12">
                                        <a href="javascript:void(0);">
                                            <div class="channel-logo" data-animation-in="fadeInLeft"
                                                 data-delay-in="0.5">
                                                <img src="{{ banner.movie.image.url }}" class="c-logo" alt="streamit">
                                            </div>
                                        </a>
                                        <h1 class="slider-text big-title title text-uppercase"
                                            data-animation-in="fadeInLeft"
                                            data-delay-in="0.6">{{ banner.movie.title }}</h1>

                                        <div class="d-flex flex-wrap align-items-center fadeInLeft animated"
                                             data-animation-in="fadeInLeft" style="opacity: 1;">
                                            <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                                <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                                    <li>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <span class="text-white ml-2">{{ banner.movie.grade }}</span>
                                            </div>
                                            <div class="d-flex align-items-center mt-2 mt-md-3">
                                                <span class="badge badge-secondary p-2">{{ banner.movie.age }}+</span>
                                                <span class="ml-3">2 فصل</span>
                                            </div>
                                        </div>
                                        <p data-animation-in="fadeInUp" data-delay-in="1.2">
                                            {{ banner.movie.description | truncatewords:25 }}
                                        </p>
                                        <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                                            <div class="text-primary title starring">
                                                بازیگران: <span
                                                    class="text-body">{{ banner.movie.actors }}</span>
                                            </div>
                                            <div class="text-primary title genres">
                                                ژانرها: <span class="text-body">{{ banner.movie.category }}</span>
                                            </div>
                                            <div class="text-primary title tag">
                                                برچسب ها: <span class="text-body">اکشن, ماجراجویی, ترسناک</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp"
                                             data-delay-in="1.2">
                                            <a href="{{ banner.movie.get_absolute_url }}" class="btn btn-hover iq-button"><i
                                                    class="fa fa-play mr-2"
                                                    aria-hidden="true"></i>الان تماشا کن</a>
                                            <a href="{{ banner.movie.get_absolute_url }}" class="btn btn-link">جزئیات بیشتر</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-12 col-md-12 trailor-video text-center">
                                        <a href="{{ banner.movie.trailer.url }}" class="video-open playbtn">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                                                 enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                         <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-miterlimit="10"
                                                  points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                                                <circle class='circle' fill="none" stroke-width="7"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-miterlimit="10" cx="106.8"
                                                        cy="106.8" r="103.3"></circle>
                                      </svg>
                                            <span class="w-trailor">مشاهده تریلر</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
                        fill="none" stroke="currentColor">
                    <circle r="20" cy="22" cx="22" id="test"></circle>
                </symbol>
            </svg>
        </div>
    </section>
    <!-- Slider End -->
    <!-- MainContent -->
    <div class="main-content">
        <section id="iq-favorites">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">جدیدترین فیلم ها</h4>
                            <a class="iq-view-all" href="movie-category.html">مشاهده همه</a>
                        </div>
                        <div class="favorites-contens">
                            <ul class="favorites-slider list-inline  row p-0 mb-0 iq-rtl-direction">
                                {% for movie in new_movies %}
                                <li class="slide-item">

                                    <div class="block-images position-relative">
                                        <div class="img-box">
                                            <img src="{{ movie.image.url }}" class="img-fluid" alt="{{ movie.title }}">
                                        </div>
                                        <div class="block-description">
                                            <h6 class="iq-title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
                                            <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                                <div class="badge badge-secondary p-1 mr-2">{{ movie.age }}+</div>
                                                <span class="text-white">{{ movie.time | time:"%H:%M" }}</span>
                                            </div>
                                            <div class="hover-buttons">
                                                <a href="{{ movie.get_absolute_url }}" role="button"
                                                   class="btn btn-hover iq-button">
                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                    تماشا کردن
                                                </a>
                                            </div>
                                        </div>

                                        <div class="block-social-info">
                                            <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                    <span><i class="ri-share-fill"></i></span>
                                                    <div class="share-box">
                                                        <div class="d-flex align-items-center">
                                                            <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-facebook-fill"></i></a>
                                                            <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-twitter-fill"></i></a>
                                                            <a href="#"
                                                               data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               class="share-ico iq-copy-link" tabindex="0"><i
                                                                    class="ri-links-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span><i class="ri-heart-fill"></i></span>
                                                    <span class="count-box">{{ movie.age }}+</span>
                                                </li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="iq-upcoming-movie">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">محبوب ترین فیلم ها </h4>
                            <a class="iq-view-all" href="movie-category.html">View All</a>
                        </div>
                        <div class="upcoming-contens">
                            <ul class="favorites-slider list-inline row p-0 mb-0 iq-rtl-direction">
                                 {% for movie in movie_likes %}
                                <li class="slide-item">

                                    <div class="block-images position-relative">
                                        <div class="img-box">
                                            <img src="{{ movie.image.url }}" class="img-fluid" alt="{{ movie.title }}">
                                        </div>
                                        <div class="block-description">
                                            <h6 class="iq-title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
                                            <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                                <div class="badge badge-secondary p-1 mr-2">{{ movie.age }}+</div>
                                                <span class="text-white">{{ movie.time | time:"%H:%M" }}</span>
                                            </div>
                                            <div class="hover-buttons">
                                                <a href="{{ movie.get_absolute_url }}" role="button"
                                                   class="btn btn-hover iq-button">
                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                    تماشا کردن
                                                </a>
                                            </div>
                                        </div>

                                        <div class="block-social-info">
                                            <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                    <span><i class="ri-share-fill"></i></span>
                                                    <div class="share-box">
                                                        <div class="d-flex align-items-center">
                                                            <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-facebook-fill"></i></a>
                                                            <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-twitter-fill"></i></a>
                                                            <a href="#"
                                                               data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               class="share-ico iq-copy-link" tabindex="0"><i
                                                                    class="ri-links-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span><i class="ri-heart-fill"></i></span>
                                                    <span class="count-box">{{ movie.age }}+</span>
                                                </li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="iq-topten">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <!-- <h4 class="main-title iq-title topten-title-sm">Top 10 in India</h4> -->
                        </div>
                        <div class="topten-contens">
                            <h4 class="main-title iq-title topten-title">سریال های برتر روز</h4>
                            <ul id="top-ten-slider"
                                class="list-inline p-0 m-0  d-flex align-items-center iq-rtl-direction">
                                
                            {% for item in top_series %}    
                                <li class="slick-bg">
                                    <a href="{{ item.get_absolute_url }}">
                                        <img src="{{ item.image.url }}" class="img-fluid w-100" alt="{{ item.title }}">
                                    </a>
                                </li>
                                
                               {% endfor %} 
                               
                            </ul>
                            <div class="vertical_s">
                                <ul id="top-ten-slider-nav"
                                    class="list-inline p-0 m-0  d-flex align-items-center iq-rtl-direction">
                                    
                                    {% for item in top_series %}
                                    <li>
                                        <div class="block-images position-relative">
                                            <a href="{{ item.get_absolute_url }}">
                                                <img src="{{ item.image.url }}" class="img-fluid w-100" alt="{{ item.title }}">
                                            </a>
                                            <div class="block-description">
                                                <h5>The Illusion</h5>
                                                <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                                    <div class="badge badge-secondary p-1 mr-2">{{ item.age }}+</div>
                                                    <span class="text-white">{{ item.time | time:"%H:%M" }}</span>
                                                </div>
                                                <div class="hover-buttons">
                                                    <a href="{{ item.get_absolute_url }}" class="btn btn-hover" tabindex="0">
                                                        <i class="fa fa-play mr-1" aria-hidden="true"></i> تماشا کردن
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                   
                                    {% endfor %}
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="iq-suggestede" class="s-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">برای شما پیشنهاد شده است</h4>
                            <a class="iq-view-all" href="movie-category.html">مشاهده همه</a>
                        </div>
                        <div class="suggestede-contens">
                            <ul class="list-inline favorites-slider row p-0 mb-0 iq-rtl-direction">
                                {% for movie in suggested_for_user %}
                                <li class="slide-item">

                                    <div class="block-images position-relative">
                                        <div class="img-box">
                                            <img src="{{ movie.image.url }}" class="img-fluid" alt="{{ movie.title }}">
                                        </div>
                                        <div class="block-description">
                                            <h6 class="iq-title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
                                            <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                                <div class="badge badge-secondary p-1 mr-2">{{ movie.age }}+</div>
                                                <span class="text-white">{{ movie.time | time:"%H:%M" }}</span>
                                            </div>
                                            <div class="hover-buttons">
                                                <a href="{{ movie.get_absolute_url }}" role="button"
                                                   class="btn btn-hover iq-button">
                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                    تماشا کردن
                                                </a>
                                            </div>
                                        </div>

                                        <div class="block-social-info">
                                            <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                    <span><i class="ri-share-fill"></i></span>
                                                    <div class="share-box">
                                                        <div class="d-flex align-items-center">
                                                            <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-facebook-fill"></i></a>
                                                            <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="share-ico" tabindex="0"><i
                                                                    class="ri-twitter-fill"></i></a>
                                                            <a href="#"
                                                               data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                               class="share-ico iq-copy-link" tabindex="0"><i
                                                                    class="ri-links-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span><i class="ri-heart-fill"></i></span>
                                                    <span class="count-box">{{ movie.age }}+</span>
                                                </li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="parallex" class="parallax-window">
            <div class="container-fluid h-100">
                <div class="row align-items-center justify-content-center h-100 parallaxt-details">
                    <div class="col-lg-4 r-mb-23">
                        <div class="text-left">
                            <a href="javascript:void(0);">
                                <img src="Theme/images/parallax/parallax-logo.png" class="img-fluid" alt="bailey">
                            </a>
                            <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                                <ul
                                        class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                    <li><a href="javascript:void(0);" class="text-primary"><i class="fa fa-star"
                                                                                              aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                                                                                   aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                                                                                   aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                                                                                   aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0);" class="pl-2 text-primary"><i
                                            class="fa fa-star-half-o"
                                            aria-hidden="true"></i></a></li>
                                </ul>
                                <span class="text-white ml-3">9.2 (lmdb)</span>
                            </div>
                            <div class="movie-time d-flex align-items-center mb-3 iq-ltr-direction">
                                <div class="badge badge-secondary mr-3">13+</div>
                                <h6 class="text-white">2 ساعت و 30 دقیقه</h6>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است </p>
                            <div class="parallax-buttons">
                                <a href="movie-details.html" class="btn btn-hover">تماشا کردن</a>
                                <a href="movie-details.html" class="btn btn-link">جزئیات بیشتر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="parallax-img">
                            <a href="movie-details.html">
                                <img src="Theme/images/parallax/p1.jpg" class="img-fluid w-100" alt="bailey">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <section id="iq-tvthrillers" class="s-margin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 overflow-hidden">
                    <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">توصیه شده برای شما</h4>
                        <a class="iq-view-all" href="movie-category.html">مشاهده همه</a>
                    </div>
                    <div class="tvthrillers-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0 iq-rtl-direction">
                            
                            
                            
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="Theme/images/tvthrillers/01.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title"><a href="show-details.html">Day of Darkness</a></h6>
                                        <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                            <div class="badge badge-secondary p-1 mr-2">15+</div>
                                            <span class="text-white">2 فصل</span>
                                        </div>
                                        <div class="hover-buttons">
                                            <a href="movie-details.html" role="button"
                                               class="btn btn-hover iq-button"><i class="fa fa-play mr-1"
                                                                                  aria-hidden="true"></i>
                                                تماشا کن</a>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                           target="_blank" rel="noopener noreferrer" class="share-ico"
                                                           tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                                           target="_blank" rel="noopener noreferrer" class="share-ico"
                                                           tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                        <a href="#"
                                                           data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                                           class="share-ico iq-copy-link" tabindex="0"><i
                                                                class="ri-links-fill"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">19+</span></li>
                                            <li><span><i class="ri-add-line"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    
{% endblock %}